<section class="headerMenu width100 left">
    <h3 class="left">
        <span class="backarrow"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
        <span class="sectionHeading right">Details</span>
    </h3>
    <section class="responsiveMenu right relative"><i class="fa fa-bars" aria-hidden="true"></i></section>
    <nav class="bottomNav left width100">
        <ul class="bottommenu left width100" id="bottomMenu">
            <li class="active">
                <i class="fa fa-home width100" aria-hidden="true"></i>
                <a href="#" class="width100">Home</a>
            </li>
            <li>
                <i class="fa fa-user-circle width100" aria-hidden="true"></i>
                <a href="#" class="width100">Profile</a>
            </li>
            <li><i class="fa fa-area-chart width100" aria-hidden="true"></i>
                <a href="#" class="width100">Insights</a>
            </li>
            <li>
                <i class="fa fa-bell width100" aria-hidden="true"></i>
                <a href="#" class="width100">Notifications</a>
            </li> 
        </ul>
    </nav>
</section>