/* You can add global styles to this file, and also import other style files */

*{
    margin:0;
    padding:0;
}
html,body{
    margin:0;
    padding:0;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6,img,iframe,div,section,header,footer,nav,form,ul,li,a,p{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.width100{
    width:100%;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.right{
    float:right;
}
.left{
    float:left;
}
.container{
    overflow:scroll;
    margin-bottom:70px;
}




